{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}


<form method="post" action="/pages/auth/register" class="w-50 mt-4">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" id="password" required>
    </div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

{% endblock %}
